@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

body {
	background-color: rgb(237, 237, 237);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 40px;
	/* 245, 245, 245 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: rgb(0, 0, 49);
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}



#searching {
	background-color: rgb(84, 3, 154);
	color: rgb(255, 255, 255);
	border: 1px solid rgb(84, 3, 154);
	border-radius: 6px;
	padding: 10px;
}

#nav_i {
	justify-content: flex-end
}

#form_log {
	padding: 60px 40px;
	margin-top: 40px;
	margin-bottom: 50px;
	border: 4px solid rgb(139, 138, 146);
	border-radius: 10px;
}

a:hover,
a:focus {
	color: rgb(135, 2, 196);
	text-decoration: none;
	font-weight: 800;
}

.bg-light {
	background-color: rgb(41, 0, 77) !important;
	color: rgb(255, 255, 255);
}

.navbar {
	font-weight: 500;
	font-size: 17px;
	padding-top: 10px;
}

.navbar-inverse {
	background: rgb(41, 0, 77);
}

.navbar .navbar-brand {
	color: rgb(183, 101, 255);
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 1px;
}

.navbar .navbar-brand:hover {
	color: rgb(241, 226, 255);
	font-weight: 700;
}

.navbar .navbar-nav>a {
	padding-top: 9px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: rgb(222, 222, 222);
}

.navbar .navbar-nav>a:hover {
	color: rgb(183, 101, 255);
}

.navbar .navbar-nav #logg:hover {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgb(26, 0, 40);
	color: rgb(247, 247, 247);
	box-shadow: 0px 8px 12px 0px rgba(254, 73, 142, 0.66);
	border-radius: 4px;
}


#headerwrap {
	background: url(../img/hockey.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	background-size: cover;
	background-size: 100%;
}

#headerwrap h1 {
	margin-top: 60px;
	color: rgb(255, 255, 255);
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: rgb(255, 255, 255);
	font-size: 35px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: rgb(84, 3, 154);
	color: rgb(255, 255, 255);
	border: 1px solid rgb(84, 3, 154);
	border-radius: 6px;
	padding: 8px;
	margin-right: 15px;
	margin-left: 15px;
}

.btn-primary:hover {
	background-color: rgb(183, 101, 255);
	color: rgb(0, 0, 0);
	border: 1px solid rgb(183, 101, 255);
}

.btn-primary:active {
	background-color: rgb(183, 101, 255);
	color: rgb(0, 0, 0);
	border: 1px solid rgb(147, 24, 255);
	box-shadow: 0px 5px 5px 0px rgb(183, 101, 255);
}

.btn-primary:focus {
	background-color: rgb(183, 101, 255) !important;
	color: rgb(0, 0, 0) !important;
	border: 1px solid rgb(147, 24, 255) !important;
	box-shadow: 0px 8px 14px 0px rgba(183, 101, 255, 0.601) !important;
}

.container #login {
	padding: 10px;
	margin-left: 0px;
}

.inv {
	display: inline-block;
}

.logo {
	margin-top: 70px;
	display: flex;
	justify-content: center;
}

.logo>div {
	padding: 10px 50px;
}


/* ================================== КЛУБЫ ======================================== */

.clubs {
	margin-top: 40px;
	padding: 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.clubs>div {
	background-color: rgba(195, 221, 255, 0.679);
	align-content: center;
	margin: 15px 250px;
	border-radius: 50px;
	text-align: center;
}

.clubs>div>div>a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color: rgb(92, 0, 149);
}

.clubs>div>div>a:hover {
	color: rgb(72, 0, 117);
	font-weight: 600;
}

.clubs>div:hover {
	background-color: rgba(155, 199, 255, 0.762);
}

.clubs>div>p {
	padding-top: 15px;
	padding-left: 60px;
	padding-right: 60px;
	text-decoration: none;
	font-size: 33px;
	font-weight: 800;
	color: rgb(70, 0, 114);
}

.clubs>div>p>a {
	padding-right: 60px;
}


/* ============================ ИГРОКИ ================================== */

.igroki {
	margin-top: 40px;
	padding: 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.igroki>div {
	padding-top: 15px;
	background-color: rgba(195, 221, 255, 0.679);
	align-content: center;
	margin: 15px 250px;
	border-radius: 50px;
	text-align: center;
}

.igroki>div:hover {
	background-color: rgba(155, 199, 255, 0.762);
}

.igroki>div>a {
	text-decoration: none;
	font-size: 25px;
	font-weight: 500;
	color: rgb(92, 0, 149);
}

.igroki>div>a:hover {
	color: rgb(72, 0, 117);
	font-weight: 600;
}

.igroki>div>p {
	padding-top: 7px;
	font-size: 20px;
	font-weight: 500;
}

.igroki>div>div {
	padding-bottom: 5px;
}

.igroki>div>div>a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	color: rgb(92, 0, 149);
}

.igroki>div>div>a:hover {
	color: rgb(72, 0, 117);
	font-weight: 600;
}


/* ==============================Обзор ======================================== */

.obzor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.obzor>div {
	padding: 20px 50px;
	margin: 10px 100px;
	align-content: center;
	background-color: rgb(230, 241, 251);
	border-radius: 20px;
}

.obzor>div>h2 {
	padding-bottom: 15px;
	color: rgb(186, 3, 199);
	/* font-weight: 700; */
	/* text-align: center; */
}

ul {
	padding-left: 0px;
}

li {
	display: inline-block;
	margin-right: 45px;
}

#FIO {
	font-size: 25px;
	font-weight: 600;
	color: rgb(92, 0, 149);
}

#num {
	font-size: 22px;
	font-weight: 600;
	color: rgb(9, 0, 15);
}

.obzor>div>h4 {
	color: #8200a9;
}



/* ====================================================================== */


.container-fluid .roster>a {
	text-decoration: none;
	color: rgb(92, 0, 149);
}

.container-fluid .roster>a:hover {
	color: rgb(72, 0, 117);
	font-size: 17px;
}

.bttn_search {
	margin-top: 10px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 8px;
	width: 150px;
	background-color: rgba(147, 39, 249, 0.612);
	padding: 8px 15px 8px 15px;
}

.bttn_search>a {
	text-decoration: none;
	color: rgb(2, 0, 2);
}

.bttn_search>a:hover {
	font-weight: 700;
	text-decoration: none;
	color: rgb(241, 241, 241);
}

.new_z>form {
	width: 700px;
	margin: 0 auto;
	/* text-align: center; */
}

.new_z>form>h2,
h1,
h3 {
	color: rgb(77, 0, 93);
	margin-top: 40px;
}

.new_z>form input,
.new_z>form select,
.new_z>form label,
.new_z>form textarea {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

.new_z>form input,
.new_z>form select,
.new_z>form textarea {
	border: 1px solid rgba(110, 0, 132, 0.834);
	border-radius: 6px;
}

select option:checked {
	background-color: #8200a9;
	color: #fff;
}